body{
    font-family: 'Helvetica Neue', Helvetica, Arial;
    font-size: 15px;
    line-height: 18px;
    font-weight: 531;
    color: black;
    -webkit-font-smothing: antialiased;
    font-smoothing: antialiased;
    background: rgb(44, 43, 43);
}
div{
    display: block;
    unicode-bidi: isolate;
}
.body{
    margin: auto;
    padding: 40px;
    max-width: 850px;
}
.table{
    width: 100%;
    margin: 0 0 40px 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
}
.header{
    display: table-row;
    background: white;
    
}
.dhead{
    padding: 6px 13px;
    display: table-cell;
    margin-bottom: 11px;
}
.row-1{
    background-color: aqua;
}
.row-2{
    background-color: black;
    color: white;
}
.row-3{
    background-color: brown;
    color: white;
}
&:nth-of-type(odd){
    background: #ccc8c8;
}